/* BOX SIZING RESET */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* SET FLUID TYPOGRAPHY - 16px at 400px viewport and 14px minimum */

:root {
    font-size: calc(0.600em + .5vw);
}

h1 {
    font-size: 1.602rem;
}

h2 {
    font-size: 1.424rem;
}

h3 {
    font-size: 1.266rem;
}

h4 {
    font-size: 1.125rem;
}

p {
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
.heading {
    font-family: Georgia, "Times New Roman", Times, serif;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    color: #fff;
}

/* MODULES */

.flx-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
}

.btn-link {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    border: 1px solid #FFC58F;
    background-color: #FFC58F;
    padding: .5rem 1rem;
    transition: background-color .5s ease-out;
}

.btn-link:hover {
    background-color: transparent;
    transition: background-color .5s ease-out;
}

/* HEADER */

header {
    width: 100%;
    background-image: url('images/city-cover.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5%;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.logo {
    font-size: 1.5rem;
}

.navbar ul:not(:first-child) li {
    height: 100%;
    padding-top: 1.9rem;
}

.navbar a {
    display: block;
    color: #474747;
    margin-left: 1rem;
    height: 100%;
}

.navbar a:hover {
    color: #FFC58F;
}

a.mobile-nav {
    display: none;
}

.dropdown-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    margin-left: 1rem;
    min-width: 8rem;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    color: #fff;
    margin: 0;
    padding: .3rem 1rem;
    transition: background-color .3s ease-out;
}

.dropdown-content a:hover {
    background-color: #FFC58F;
    color: #fff;
    transition: background-color .3s ease-out;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    transition: visibility .4s ease-in;
    transition: opacity .4s ease-in;
}

.navbar-links {
    display: flex;
    align-items: center;
    height: 4.5rem;
}

.navbar-links li:last-child {
    margin-right: 1rem;
}

.main-heading {
    margin: 5% auto;
    text-align: center;
    text-transform: uppercase;
}

.main-heading p:first-child {
    letter-spacing: 5px;
}

.main-heading .btn-link {
    margin-top: 8%;
}

.contact-blocks {
    justify-content: space-around;
    align-items: stretch;
    background-color: #FFC58F;
    height: 7rem;
}

.contact-blocks li {
    flex: 0 1 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-blocks li:not(:last-child) {
    border-right: 1px solid #fff;
}

.contact-info h4,
.contact-info p {
    font-size: .9rem;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .navbar {
        flex-wrap: wrap;
    }
    a.mobile-nav {
        display: block;
        margin-right: 2rem;
    }
    .navbar-links {
        display: none;
        height: 100%;
        flex: 0 1 100%;
    }
    .dropdown-content {
        background-color: #fff;
    }
    .dropdown-content a {
        color: #000;
    }
    .dropdown:hover .dropdown-content {
        position: static;
    }
    .open {
        display: block;
    }
}

@media screen and (max-width: 1340px) {
    .contact-blocks {
        display: block;
        width: 350px;
        height: 100%;
    }
    .contact-blocks li {
        height: 70px;
    }
    .contact-blocks li:not(:last-child) {
        border-right: none;
    }
}

/* SERVICES */

.services {
    background-color: #F6F6F6;
    color: #474747;
    padding: 5% 0;
}

.services>h1,
.services>p {
    width: 70%;
    margin: 0 auto;
    font-size: 1rem;
}

.services>p {
    padding-bottom: 3%;
    font-size: .8rem;
}

.services-blocks {
    justify-content: space-between;
    flex-wrap: wrap;
}

.services-blocks li img {
    width: 100%;
}

.services-blocks li {
    min-width: 230px;
    flex: 0 1 30%;
    background-color: #fff;
    margin: auto;
    margin-top: 1rem;
}

.services-blocks-text {
    width: 90%;
    margin: 0 auto;
}

.services-blocks-text h4,
.services-blocks-text p {
    width: 100%;
    font-size: .7rem;
}

.services-blocks-text a {
    display: block;
    font-size: .7rem;
    color: #FFC58F;
    margin-bottom: .5rem;
}

/* FEATURES */

.services.features {
    background-color: #fff;
}

.features-blocks {
    justify-content: space-between;
    flex-wrap: wrap;
}

.features-blocks li {
    flex: 0 1 23%;
    min-width: 150px;
    margin: auto;
}

.features-blocks .features-link {
    display: block;
    color: #fff;
}

.features-blocks .features-link:hover {
    color: #FFC58F;
}

.features-blocks .features-icon {
    width: 3rem;
    height: 3rem;
    background-color: #FFC58F;
    border: 1px solid #FFC58F;
    text-align: center;
}

.features-blocks .features-icon:hover {
    background-color: #fff;
}

.features-blocks h4,
.features-blocks p {
    font-size: .8rem;
}

/* PROMO */

.promo {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/phone-on-desk.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.promo-container {
    justify-content: space-between;
    align-items: center;
}

.promo-text {
    margin: 2rem 0;
}

.promo-text h1 {
    margin: 0;
    font-size: 1rem;
}

.promo-text p {
    margin: 0;
    font-size: .8rem;
}

.promo-btn {
    display: block;
    padding: .5rem 1rem;
    text-align: center;
    color: #fff;
    background-color: #FFC58F;
    border: 1px solid #FFC58F;
    transition: background-color .3s ease-in;
}

.promo-btn:hover {
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .3s ease-in;
}

/* BENEFITS */

.services.benefits {
    background-color: #fff;
}

.benefits .services-blocks p {
    font-size: .8rem;
}

/* CONTACTS */

.contacts-bgr {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/map.jpg');
}

.contacts {
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 3rem 0;
    color: #cbcbcb;
    font-size: .8rem;
    font-family: Verdana, Geneva, sans-serif;
}

.contacts ul {
    flex: 0 1 23%;
    margin: auto;
    min-width: 150px;
    margin-top: 2rem;
}

.contacts ul li:first-child {
    color: #fff;
    margin-bottom: 1.5rem;
}

.site-links li:not(:first-child):not(:last-child) {
    margin-bottom: 1rem;
}

.site-links li:nth-child(3) a {
    margin-right: .5rem;
    color: #cbcbcb;
    transition: color .3s ease-in;
}

.site-links li:nth-child(3) a:first-child {
    color: #FFC58F;
}

.site-links li:nth-child(3) a:hover:not(:first-child) {
    color: #FFC58F;
    transition: color .3s ease-in;
}

.site-links li:nth-child(4) a {
    display: inline-block;
    color: #fff;
    background-color: #474747;
    width: 2rem;
    height: 2rem;
    text-align: center;
    padding-top: .5rem;
}

.site-links li:nth-child(4) a:hover:first-child {
    background-color: #00ccbd;
}

.site-links li:nth-child(4) a:hover:nth-child(2) {
    background-color: #3b5998;
}

.site-links li:nth-child(4) a:hover:nth-child(3) {
    background-color: #ea4c89;
}

.site-links li:nth-child(4) a:hover:last-child {
    background-color: #0e76a8;
}

.contacts .contact-info li:not(:first-child):not(:last-child) {
    padding-bottom: .5rem;
    border-bottom: 1px solid #474747;
}

.contacts .contact-info li:not(:first-child):not(:nth-child(2)) {
    padding-top: .5rem;
}

.contacts .contact-info li:not(:first-child) {
    padding-left: 1rem;
}

.contacts .contact-info li:nth-child(2) {
    padding-left: 2rem;
}

.contacts .news-articles li:not(:first-child):not(:last-child) {
    padding-bottom: .5rem;
    border-bottom: 1px solid #474747;
}

.contacts .news-articles li:not(:first-child):not(:nth-child(2)) {
    padding-top: .5rem;
}

.contacts .news-articles li:not(:first-child) a {
    color: #FFC58F;
}

.contacts .sign-up input {
    display: block;
    padding: .25rem;
    margin: .5rem 0;
}

.contacts .sign-up input:focus {
    border-color: #FFC58F;
    outline: none;
}

.contacts .sign-up button {
    color: #fff;
    background-color: #FFC58F;
    padding: .5rem .9rem;
    border: none;
    font-weight: bold;
}

/* CREDITS */

.credits {
    height: 2rem;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-size: .7rem;
}